<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Agregar un usuario</h1>
    <a href="/usuarios"> Go home</a>
    <form action="/usuarios/crear" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre">
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido">
        <label for="correo">Correo:</label>
        <input type="text" name="correo">
        <input type="submit" value="Add User">
    </form>
</body>
</html>