<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link rel="stylesheet" href={{url_for('static', filename='/css/styles.css')}}>
</head>
<body>
    <section>
        <h1>Registro</h1>
        <form action="" method="POST">
            <div>
                <label for="nombre" class="form_label">
                    Nombre:
                </label>
                <input type="text" id="nombre" name="nombre">
                {%for mensaje in get_flashed_messages(category_filter=['error_nombre'])%}
                <div class="error alert alert-danger">
                    {{mensaje}}
                </div>
                {%endfor%}
            </div>
            <div>
                <label for="apellido" class="form_label">
                    Apellido:
                </label>
                <input type="text" id="apellido" name="apellido">
                {%for mensaje in get_flashed_messages(category_filter=['error_apellido'])%}
                <div class="error alert alert-danger">
                    {{mensaje}}
                </div>
                {%endfor%}
            </div>
            <div>
                <label for="apellido" class="form_label">
                    Apellido:
                </label>
                <input type="text" id="apellido" name="apellido">
                {%for mensaje in get_flashed_messages(category_filter=['error_apellido'])%}
                <div class="error alert alert-danger">
                    {{mensaje}}
                </div>
                {%endfor%}
            </div>
        </form>
    </section>
</body>
</html>